[2016-12-13 14:33] duksis opened #1 "[talk suggestion] How fast is it really? Benchmarking in practice"
I gave this talk at Elixirlive and it was generally well received. It's general benchmarking advice intertwined with samples and benchee sample code.

My first talk at elixir.berlin months ago was a little impromptu benchee talk without much preparation, it has grown considerably since then so I'd like to share general benchmarking knowledge and an update on benchee :)

Abstract

“What’s the faste

[2016-12-13 14:39] duksis commented on #1
@PragTob so in January at your office?

[2016-12-14 08:29] PragTob commented on #1
I can do whenever is most convenient for the meetup, talk is "ready" I just need to trim it down to your preferred length (at elixirlive we had 50 minutes and that's exactly how long I needed) :)

[2016-12-24 17:03] slashmili commented on #1
Next meetup is 12th Jan, I added this talk to that meetup agenda

[2016-12-25 08:56] PragTob commented on #1
So what's the preferred talk length so I can cut accordingly?

Happy holidays!

[2016-12-27 12:24] slashmili commented on #1
This the only talk for Jan, So we have plenty time :) I could be 30 min or more

[2016-12-27 13:40] PragTob commented on #1
Well I'll trim it a bit then, original version was 50 minutes (that was their preferred time :D) :)

[2017-01-10 20:40] duksis opened #2 "Location for February meetup needed"
We are looking for hosts for the February event [#32 Talk and socialize](https://www.meetup.com/Elixir-Berlin/events/234587044/) - 9th of Febrauary 2017

[2017-01-10 21:03] duksis opened #3 "[talk/kata suggestion] Binary kata before benchmarking talk"
My suggestion is to do this
https://github.com/elixir-berlin/kata-binary
and this time as the first thing to warm people and their fingers up for the Benchmarking talk

[2017-01-10 21:05] duksis commented on #3
@PragTob anything against giving the talk after this?

[2017-01-10 21:12] PragTob commented on #3
@duksis no, from a narrative perspective it'd just be good for me to include a related benchmark but I don't think I'll have the time to do this :) Plus if it takes longer I might have to cut the talk a bit shorter (original was ~50 mins, but I'm flexible with time and already cut a bit so that I'm guessing ~30-40)

[2017-01-10 21:33] duksis commented on #3
@PragTob ok talk first code afterwards - the kata is can be pretty flexible when it comes to time.

[2017-01-11 21:08] PragTob commented on #3
@duksis we can also do the code first, I don't have any strong opinions would just have liked to know a bit more in advance :) You make the call. See you tomorrow! :)

[2017-01-24 16:11] zampino opened #4 "Location for March + Talk proposal @nextjournal"
Hi Hugo and all Elixorians

We'd like to host March (the 9th, right) meetup
and give a talk about our Elixir stack at [nextjournal.com](https://nextjournal.com)
I'll give more details soon...

we won't make it for February unfortunately ...

cheers Andrea (@zampino)

[2017-01-31 11:08] #3 closed

[2017-01-31 11:09] #1 closed

[2017-01-31 11:35] duksis commented on #2
@bitcrowd and @xhr15 offered to host us in February during the last meetup

updated location on Meetup.com and closing this issue

[2017-01-31 11:35] #2 closed

[2017-01-31 11:35] duksis opened #5 "Talks for February meetup"
* [x]  "A primer on writing distributed databases" by @muaazsaleem
* [ ] open slot
* [ ] open slot

Any talk ideas proposals welcome :)

[2017-01-31 11:37] duksis commented on #4
@zampino how sure are you that nextjournal.com can host us for the March meetup -
can I update meetup page?

[2017-01-31 13:10] zampino commented on #4
sure!

we'll have a space limitation of `15` people officially,
the address is

[code]

the talk I'm going to present could sound like:

_building a web-based multi-language live-coding editor with Phoenix and GenStage_

[2017-01-31 20:20] duksis commented on #4
Updated meetup page and added you to @zampino as the event host for March :)

[2017-02-07 08:33] muaazsaleem commented on #5
Hi @duksis, since we don't have a talk yet, maybe I could do a talk called "A primer on writing distributed databases".

I haven't given this talk before and it lands in the "cool thing for fun" category. The talk will cover the various parts and choices that make up a distributed database. How tools provided by the Erlang VM make it easier to implement some of these parts.

[2017-02-07 10:42] duksis commented on #5
Hi @muaazsaleem that sounds great! I'll update the meetup group and am looking forward to it.
The meetup is a pretty good place where to give a talk the first time :)

[2017-02-07 10:57] muaazsaleem commented on #5
Thanks @duksis!

[2017-03-03 20:11] devonestes opened #6 "Talk for April"
Howdy!

So I'm not sure where we're having our April meetup, but I'd love to do a "dress rehearsal" of my talk for ElixirConf EU if folks are interested. Here's more info: http://www.elixirconf.eu/elixirconf2017/devon-estes

Hope to be there next week as well!

[2017-03-06 08:04] #5 closed

[2017-03-09 09:36] behrtam commented on #4
Do you think I can get something from the talk even with very little elixir knowledge?

[2017-03-09 10:01] duksis commented on #4
@behrtam yes :)

[2017-03-10 09:03] jaigouk commented on #4
@zampino  could you share the slides for the talk?

[2017-03-10 09:59] #4 closed

[2017-03-13 13:39] slashmili commented on #6
Hey @devonestes !

That would be great. I updated the meetup page with your talk

The location is not settled yet but I guess we can work it out as usual :)

[2017-03-14 13:54] devonestes commented on #6
Cool - guess I better polish up these slides, then! See you all in April!

[2017-03-17 11:36] duksis opened #7 "Location/Host for April"
Host needed for April.

Please comment here if your company would be able to host us in April

[2017-04-14 09:21] slashmili commented on #6
Was a great talk 👍

[2017-04-14 09:21] #6 closed

[2017-04-14 09:23] slashmili opened #8 "Location/Host for May"
Host needed for May.

Please comment here if your company would be able to host us in May

[2017-04-14 09:23] slashmili commented on #8
cc @klappradla

[2017-04-14 09:24] #7 closed

[2017-04-23 14:26] boddhisattva commented on #8
Hello everyone,

Greetings from Bangalore, India. My name is Mohnish, a programmer with a Ruby background who is currently learning Elixir in his spare time and I'm also one of the co-organizers of the [Bangalore Ruby User Group meetups](https://www.meetup.com/Bangalore-Ruby-Users-Group/). I'll be in Germany between Apr 28th - May 14th and I'd like to propose that we could possibly solve an Exerci

[2017-04-25 11:17] slashmili commented on #8
@boddhisattva Hey! Looks great.

To make the the discussion faster, could you join the elixir slack in #berlin channel? then we can discuss it there.

[2017-04-25 14:29] boddhisattva commented on #8
Hi @slashmili, thanks for getting back to me on this. Glad to know you'd like to discuss this further. I'm actually already a member of the #berlin channel on elixir slack. You could find me there with the username `@mohnish`. Can you please share the username by which you go by in that group?

[2017-04-25 16:42] slashmili commented on #8
@barsukov I remember you mentioned Qixxit would like to host us on May. Is the offer still on the table?

[2017-04-25 16:50] barsukov commented on #8
@slashmili Currently our hr and me are sick and I could not 100% answer the question for May. I think we do not handle it in this month. For that reason, to not blocking you I would like to postpone Elixir meetup in Qixxit for May.
Keep in touch.

[2017-04-26 07:40] duksis opened #9 "Talks / proposals / requests for May"
Please put talk proposals / requests in this issue
when proposing a talk please provide the approximate length you would need for it.

we should have 3 slots of 30 min each open for May

[2017-04-26 07:50] duksis commented on #8
@jonasschmidt would you know if Wooga could host us for 11th of May?

[2017-04-26 17:24] dczombera commented on #8
Even though I really like new ideas and approaches, this kind of idea would be much better suited for an event that starts earlier and is carried out during the weekend. I guess a lot of ppl work as programmers, so coming up with interesting solutions to a problem after ~ 8 hours of coding is not that easy.

[2017-04-26 20:32] duksis commented on #8
my experience show that @dczombera is right

[2017-04-26 20:35] duksis opened #10 "Location/Host for June"
We are looking for location/hosts for our June event
In case your company would be willing to host us on 8th of June please raise your :raise_hand: here

[2017-04-26 20:38] duksis commented on #10
extract from #8
[code]

@barsukov get well soon! when you are back on track please check with your HR for the 8th of June

[2017-05-03 19:50] boddhisattva commented on #8
@dczombera Sure, when we had done a similar event as part of BRUG we had done this on a weekend(meetups in India are usually on weekends to my best knowledge). I can understand that it may not be that easy to come up with interesting solutions after 8 hours of office work. Please feel free to plan this some other time as discussed in the #berlin channel on the elixir lang slack group and if I coul

[2017-05-05 14:00] duksis commented on #8
Location for May will be @Bitcrowd thanks to @xhr15

[2017-05-05 14:00] #8 closed

[2017-05-08 14:38] duksis commented on #9
I can do a "war story" on
* a real life service evolving through "synchronous pipeline" => "streams" => "GenStage"
or
* transforming large amounts of json with elixir

[2017-05-08 14:44] duksis commented on #9
@slashmili @devonestes @zampino @jaigouk would any of you be up for doing a short talk and experience summary from Elixir conf EU at the thursdays meetup?

[2017-05-08 15:24] jaigouk commented on #9
@duksis
I tried to tweet most of links i can catch while watching talks. https://twitter.com/jaigouk

I am open to talk 5~10 min short one. I also found this link
https://github.com/Tuxified/elixirconf-eu-2017

[2017-05-08 15:27] jaigouk commented on #9
@duksis I talked with my colleague @nTraum. I think we can provide place to gather in the future.

[2017-05-08 15:53] zampino commented on #9
Sounds good, we can have a distributed informal quatsch and share such
links or so...
On Mon, 8 May 2017 at 17:27, Jaigouk Kim <notifications@github.com> wrote:

[2017-05-09 08:48] devonestes commented on #9
@duksis I actually can't make it on Thursday. I forgot my wife's out of town and I'm single parenting for a week...

[2017-05-10 09:35] duksis commented on #9
@jaigouk your impressions in 5~10 min would be great as well and and we can have a open discussion with a beer

[2017-05-10 09:43] jaigouk commented on #9
@duksis got it. i will prepare the talk. I hope it's worth to share the experience.

[2017-05-10 12:29] xhr15 commented on #10
as always, if that doesn't work, @bitcrowd can step in as host

[2017-05-10 12:49] barsukov commented on #10
@duksis Yeah, sure I will ask her for the dates when we can handle a meetup.

[2017-05-11 17:11] jaigouk commented on #9
updated some links https://github.com/jaigouk/elixirconf-eu-2017

[2017-05-12 10:47] #9 closed

[2017-05-12 10:48] duksis opened #11 "Talks for June #36"

[2017-06-14 20:50] muaazsaleem commented on #11
@duksis should this be for July now?

[2017-06-20 21:12] duksis commented on #11
@muaazsaleem nop it's for the past June meetup I'll create a new one for July so far we should have one talk for it and location will be Blacklane GmbH

[2017-06-20 21:12] #11 closed

[2017-06-20 21:12] #10 closed

[2017-06-20 21:15] duksis opened #12 "#37 Talks for July"
@mindreframer you wanted to show some monorepo project tooling. Will you be able to share that with us on the 13th of July?

----
Talk suggestions / requests welcome

[2017-06-22 11:48] mindreframer commented on #12
@duksis OK, I will give a short talk about monorepos and tooling around it. )))

[2017-07-01 15:12] leifg commented on #12
I can give a talk on releases with [distillery](https://github.com/bitwalker/distillery)

[2017-07-12 11:35] surik commented on #12
I and @mgumz want to talk about OpenTracing and [otter](https://github.com/Bluehouse-Technology/otter).

[2017-07-13 13:17] duksis commented on #12
@surik @mgumz is the August meetup ok for you guys?

[2017-07-13 13:17] duksis opened #13 "#38 Talks for August"
Agenda:

"Expressive power in Elixir" by @Dzol
"Migrating to Phoenix 1.3" by @lbighetti
"Phoenix 'Hello World' without phoenix.new" by @muaazsaleem

[2017-07-13 13:18] duksis opened #14 "Location for August"

[2017-07-13 13:19] surik commented on #12
@duksis I'm not sure about August. Can we do it today? ;)

[2017-07-13 13:42] mgumz commented on #12
@duksis how much time is there per talk? sadly i am @vaction in 2017-08.

[2017-07-13 14:15] duksis commented on #12
@mgumz would be optimal 30-40 min
@surik should be possible today as well

[2017-07-13 15:12] #12 closed

[2017-07-14 07:57] lbighetti commented on #13
I would like to speak on "Migrating to Phoenix 1.3"

[2017-07-14 10:44] duksis commented on #14
@bitcrowd represented by @paulodiniz are going to host us for August
Thanks guys and girls @bitcrowd :)

[2017-07-16 19:31] muaazsaleem commented on #13
Hi @duksis, I would like to do a talk on "Phoenix Hello World without phoenix.new".

[2017-07-17 09:34] duksis commented on #13
added you to the list of speaker for August

[2017-07-17 09:36] duksis opened #15 "#39 Talks for September"
Agenda:

* "Property based testing" by @Dzol
* ?
* ?

[2017-07-17 09:36] slashmili commented on #13
Thank you guys!

[2017-07-17 09:37] duksis opened #16 "Location for September"

[2017-07-17 09:37] #14 closed

[2017-08-21 16:10] Dzol commented on #15
I'm up for talking about property based testing 🙂

[2017-08-24 09:09] #13 closed

[2017-08-24 09:11] duksis opened #17 "Location for September meetup"
Looking for hosts :)

[2017-08-24 09:11] #17 closed

[2017-09-02 10:25] slashmili commented on #16
We can host the event at @highmobility 🎉

[2017-09-19 07:13] duksis commented on #16
Bitcrowd

[2017-09-19 07:13] #16 closed

[2017-09-19 07:15] duksis opened #18 "#40 Talks for October"
https://www.meetup.com/Elixir-Berlin/events/239187369/

Please submit talk suggestions and requests here in comments

current agenda:

* NIFs and C Nodes - by @Overbryd
* Building an api from scratch with Phoenix - by @lbighetti
* lightning talk "code insurance" - by @devonestes

[2017-09-19 07:16] duksis opened #19 "#40 Location for October"
https://www.meetup.com/Elixir-Berlin/events/239187369/

[2017-09-19 07:16] #15 closed

[2017-09-21 10:27] ggcampinho commented on #19
I'm checking if SoundCloud can host the event

[2017-09-22 11:02] ggcampinho commented on #19
I have the classroom here reserved, it fits up to 50 people, so I think we have enough space

[2017-09-22 13:17] duksis commented on #19
nice - thank you @ggcampinho
the address is still "Rheinsberger Str. 76/77, 10115 Berlin"?

[2017-09-22 13:35] ggcampinho commented on #19
Correct!

[2017-09-22 14:18] duksis commented on #19
I updated the meetup page and added you as the host representative on meetup.com

Thanks

[2017-09-22 14:18] #19 closed

[2017-09-27 12:45] devonestes commented on #18
I think I'll bring a lightning talk - just a quick 5 minutes on code insurance 😉

[2017-09-27 13:17] duksis commented on #18
"code insurance" sounds like a very German thing :)

[2017-09-27 19:23] lbighetti commented on #18
I would like to speak on `Building an api from scratch with Phoenix`

[2017-09-27 20:09] duksis opened #20 "#41 Location for November"
https://www.meetup.com/Elixir-Berlin/events/242094932/

[2017-09-27 20:10] duksis opened #21 "#41 Talks for November"
https://www.meetup.com/Elixir-Berlin/events/242094932/

* Breaking down SSH module by Milad
* Web Bluetooth + Phoenix Channels By Kevin Valdek
* ...

Please submit talk suggestions and requests here in comments

[2017-10-02 13:38] slashmili commented on #20
We can host the event in @highmobility

[2017-10-12 15:13] duksis commented on #20
@slashmili what is the new location of @highmobility ?

[2017-10-13 08:05] #18 closed

[2017-10-13 12:16] kevinvaldek commented on #20
Hey @duksis it's at:

High-Mobility GmbH
Kastanienallee 29-30
10435 Berlin

[2017-11-02 08:15] slashmili commented on #21
I'll talk about ssh module in Erlang

[2017-11-09 13:49] #20 closed

[2017-11-09 13:49] #21 closed

[2017-11-09 13:57] duksis opened #22 "#42 December (Talks/Location)"
https://www.meetup.com/Elixir-Berlin/events/244139449/

* [x] Location (@bitcrowd)
* [x] Talks
  * "Elixir Deployment" by @Overbryd
  * ~~"Preparing to scale with phoenix" by @f34nk~~
  * "Property Testing" by @lbighetti

[2017-11-09 14:22] duksis commented on #22
@Overbryd "Elixir deployment" or "Stream processing using GenStage" ? :)

[2017-11-09 14:25] duksis commented on #22
@f34nk "Scaling with phoenix" ?

[2017-11-09 18:51] Overbryd commented on #22
I‘ll do one about „Elixir Deployment“ for December.

Hugo Duksis <notifications@github.com> schrieb am Do. 9. Nov. 2017 um 14:25:

[2017-11-17 13:52] psychocandy commented on #22
We (https://www.kloeckner-i.com/) would be happy to host the meetup at our office if you're still looking for a location.

[2017-11-17 14:57] duksis opened #23 "#43 January (Talks/Location)"
https://www.meetup.com/Elixir-Berlin/events/244139452

* [x] Location (https://www.kloeckner-i.com/)
* [x] Talks
  * "date-based API versioning using Elixir & Phoenix" by @nburkley
  * "Preparing to scale with phoenix" by @f34nk
  * "Interop in Elixir: NIFs, Ports & Co" by @ndreynolds

[2017-11-17 14:59] duksis opened #24 "#44 February (Talks/Location)"
https://www.meetup.com/Elixir-Berlin/events/245186148/

* [x] Location (@qixxit)
* [x] Talks
  * __Blockchain Wallet with Elixir__ by @boc0
  * __GraphQL__ by @duksis
  * __Running test in cluster of nodes__ by @lorenzosinisi

[2017-11-17 15:01] duksis opened #25 "#45 March (Talks/Location)"
https://www.meetup.com/Elixir-Berlin/events/ngdpnmyxfblb/

* [x] Location (@solarisbank)
* [ ] Talks
  * "Your Monolith and Elixir becoming friends step by step" by @PragTob
  * "Scraping government data with Elixir" by @paulodiniz
  * ..

[2017-11-18 09:30] f34nk1 commented on #22
Hello, sorry for cross posting:
Yes I will be able to do the december talk. However I focused the topic a little bit.
"Preparing to scale with phoenix" should be much clearer.
Best,
Frank

[2017-11-18 09:40] f34nk commented on #22
Hello, sorry for cross posting:
Yes I will be able to do the december talk. However I focused the topic a little bit.
"Preparing to scale with phoenix" should be much clearer.
Best,
Frank

[2017-11-24 00:34] lbighetti commented on #22
I would like to do a talk on `Property Testing`

[2017-11-30 13:33] nburkley commented on #23
I'm putting together a talk on [stripe-like](https://stripe.com/blog/api-versioning) rolling, date-based API versioning using Elixir & Phoenix. I can give this in January if there's interest?

[2017-12-01 11:35] duksis commented on #23
I would like to hear that and I'm sure many others as well - I'll add "date-based API versioning using Elixir & Phoenix" to the agenda

[2017-12-05 12:49] f34nk commented on #22
Unfortunately I have to postpone my talk to next year. Something unexpected came up and I can not attend to the meeting next week.
I am happy to give the talk another time :)

[2017-12-05 14:12] duksis commented on #22
@f34nk when would it be the best for you - January or February?

[2017-12-14 12:47] f34nk commented on #22
Hi @duksis. January is fine with me.

[2017-12-18 08:31] #22 closed

[2017-12-18 08:33] duksis commented on #23
Moved talk from @f34nk from December to January

[2017-12-18 08:41] duksis opened #26 "#46 April (Talks/Location)"
https://www.meetup.com/Elixir-Berlin/events/ngdpnmyxgbqb/

* [x] Location @ bitcrowd
* [x] Talks
  * "It's a small world" by @devonestes
  * "Adele - Hello" by @Overbryd
  * .... Free spot for Lightning talks

[2018-01-03 17:46] ndreynolds commented on #23
If there's interest, I'd love to give a short talk on "Interop in Elixir: NIFs, Ports & Co."  Would give an overview of the different strategies for interfacing with native code and some examples in C & Rust.

[2018-01-04 08:59] slashmili commented on #23
@ndreynolds do you think you can give the talk next week?

[2018-01-04 10:50] ndreynolds commented on #23
@slashmili yeah, I can have it ready for the meetup next week.

[2018-01-04 10:52] slashmili commented on #23
Great! see you next week 🎉

[2018-01-04 10:55] #23 closed

[2018-01-11 11:48] duksis commented on #24
Haven't done any talks for a while and have been working with GraphQL lately, thus thought maybe I can share my experience with [Absinthe](https://en.wikipedia.org/wiki/Absinthe) ;)

[2018-01-11 14:09] duksis commented on #24
@paulodiniz what topic would you like to talk about?  :)

[2018-01-12 09:13] duksis opened #27 "#47 May (Talks/Location)"
https://www.meetup.com/Elixir-Berlin/events/ngdpnmyxhbnb/

* [x] Location (Tempelhofer Field)
* [ ] Talks
  * ..
  * ..
  * ..

[2018-01-18 20:49] boc0 commented on #24
In case a spot is still free, I’d like to talk about an Elixir implementation of blockchain :)

[2018-02-03 11:05] lorenzosinisi commented on #24
I could showcase my experience learning how to test code that should run in a cluster of nodes as I blogged here https://medium.com/@lorenzo_sinisi/how-to-test-elixir-cluster-of-nodes-using-slaves-69e59a77ec3f. What do you think?

[2018-02-03 15:03] slashmili commented on #24
@lorenzosinisi That would be awesome! Do you think if it will be ready for 8th of Feb meetup?

[2018-02-03 15:05] lorenzosinisi commented on #24
Yes sure!

[2018-02-03 15:08] slashmili commented on #24
@lorenzosinisi Great

see you on Tuesday

[2018-02-03 15:08] #24 closed

[2018-02-05 09:43] duksis commented on #24
you mean Thursday right? @slashmili

[2018-02-05 10:38] slashmili commented on #24
@duksis Yes :/ my mistake

[2018-02-09 10:26] lbighetti commented on #25
@paulodiniz ping
We wanna hear your talk 😛

[2018-02-12 08:59] paulodiniz commented on #25
I can do a talk on extracting data and information about Brazilian political system.

Would anyone be interested?

[2018-02-12 11:11] duksis commented on #25
If it's legal extraction than I'm interested :)

[2018-03-07 08:22] PragTob commented on #25
Yo, on the website it looks like the time frame is roughly 30 minutes - is that right?

[2018-03-07 09:17] duksis commented on #25
@PragTob yes that should be the suggested time - you need more or less?

[2018-03-07 16:55] Overbryd commented on #26
I would like to propose a talk about "Adele – Hello"

[2018-03-23 14:33] #25 closed

[2018-04-09 15:37] duksis commented on #26
@Overbryd @devonestes the location is going to be Bitcrowd `Oranienstraße 6, 10997, Berlin`

[2018-04-09 15:39] duksis opened #28 "#48 Jun (Talks/Location)"
https://www.meetup.com/Elixir-Berlin/events/ngdpnmyxjbsb

* [x] Location @ Wooga
* [x] Talks
  * Safety first with NIFs and Rustler @slashmili
  * GraphQL your apps internal data API @duksis
  * .... Free spot for Lightning talks

[2018-04-09 15:49] duksis opened #29 "#49 July Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/ngdpnmyxkbqb/

* [x] Location (kloeckner.i)
* [x] Talks
  * "Integrating PostgreSQL's `file_fdw` with Ecto and Elixir to synch data sources" by @floriank
  * "Elixir: A Mini-Documentary" by Josiah McGarvie
  * .. free spot for lightning talks

[2018-04-09 15:50] duksis opened #30 "#50 August Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/ngdpnmyxlbmb/

* [x] Location (McKinsey Experience Studio)
* [ ] Talks
  * ..
  * ..
  * .. free spot for lightning talks

[2018-04-10 08:31] rocky-jaiswal commented on #30
Hi All,

If you are still looking for a place to host I can ask my employer. No guarantees but I would love if we hosted the Elixir group in Berlin every now and then.

Our office is in the Rocket Tower near Checkpoint Charlie with ample space and a huge screen.

Thanks,
Rocky
McKinsey Digital

[2018-04-10 09:44] duksis commented on #30
@rocky-jaiswal We don't have a host for the August meetup yet and would appreciate if you could check with your employer.
The date would be 9th of August

From our hosts we need:
* a room fitting 30-50 ppl
* Projector or TV
* Wifi
* a person representing the hosts
* and access to a bathroom :)

not required but highly appreciated:
* drinks and/or food

Thanks for reaching out.

[2018-04-10 10:05] rocky-jaiswal commented on #30
I will definitely check and let you know as soon as I can :)

Thanks

[2018-04-11 07:31] duksis opened #32 "#51 September Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/ngdpnmyxmbrb/

* [x] Location (Modomoto) host @amrabdelwahab
* [x] Talks
  * "running Elixir code on bare metal using the GRiSP board" by @eproxus
  * "dockerize elixir applications in a multi service environment" by @floriank
  * .. free spot for lightning talks

[2018-04-13 09:59] amrabdelwahab commented on #29
@duksis if this spot is still empty I would move Modomoto here

[2018-04-16 11:59] #26 closed

[2018-05-16 09:34] floriank commented on #29
@duksis
I can offer a talk about an import pipeline we recently redesigned:

[code]

[2018-05-17 09:54] duksis commented on #29
Added your talk @floriank - the email thing is weird went through all my deleted emails, spam box, archive and could not find it. Only thing I did not check is your draft folder ;-)

[2018-05-17 11:54] floriank commented on #29
Let's better not check my drafts in order not to embarrass myself :1st_place_medal:

[2018-05-30 09:17] #27 closed

[2018-05-30 09:40] duksis commented on #30
@rocky-jaiswal any news?

[2018-05-30 17:05] rocky-jaiswal commented on #30
Sorry, I totally missed this. I will let know surely in 1-2 days.

[2018-05-31 12:33] rocky-jaiswal commented on #30
Hi All,

Confirmed! We will be glad to host the group on **9 August**. Our address is -

McKinsey Experience Studio
Charlottenstr. 4 (12th Floor) | 10969 Berlin | Germany

My email - rocky.jaiswal@gmail.com / +49-175-318-2248

[2018-06-05 08:12] slashmili commented on #28
I can talk about **rustler**: _Safety first with NIFs and Rustler_

[2018-06-08 09:45] duksis commented on #28
It still could be that my talk will be moved to lightning talks and a Elixir programming language documentary will be presented instead.

[2018-07-02 12:37] #28 closed

[2018-07-12 10:13] eproxus commented on #32
We'd like to to a talk for this meeting about running Elixir code on bare metal using the [GRiSP board](https://grisp.org).

[2018-07-13 07:16] duksis commented on #32
@eproxus Add your talk to the agenda

[2018-07-13 07:34] #29 closed

[2018-07-16 14:19] floriank commented on #32
If it's interesting for you, I could contribute a short talk about how dockerize elixir applications in a multiservice environment, covering some of the challenges faced during development.

[2018-07-23 17:29] duksis commented on #32
@floriank sounds great! how much time would you need for it?

[2018-07-24 07:35] eproxus commented on #32
@duksis Let us know how much time will be available, I can adapt the talk accordingly

[2018-07-24 18:50] duksis commented on #32
@eproxus 25-30 min would be optimal :)
@floriank was asking to figure out if that will go under lightning talks or a full talk - 40 min sounds like a full talk. Can you make it 30 min? :)

[2018-08-02 09:13] rocky-jaiswal commented on #30
Hi Folks,

Are we all set for 9 Aug? Please let me know if you need anything or if there is a change of plans.

Thanks,
Rocky

[2018-08-10 08:56] duksis commented on #32
@Overbryd how about your flow talk? we could give you the whole lightning talk spot as so far no one has expressed the desire to do one in September

[2018-08-10 09:08] #30 closed

[2018-08-10 09:14] duksis opened #33 "#52 October Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyxnbpb

* [x] Location (SuitePad GmbH)
* [ ] Talks
   * "Flow Based Programming in Elixir" by @Overbryd
   * free spot for lightning talks

[2018-08-10 09:15] duksis opened #34 "#53 November Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyxpblb/

* [x] Location (Meltwater)
* [ ] Talks
   * ...
   * Lightning talk by @octavonce

[2018-08-10 09:16] duksis opened #35 "#54 December Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyxpblb/

* [x] Location (**@highmobility**)
* [ ] Talks
   * Webassembly by @slashmili
   * ..
   * free spot for lightning talks

[2018-08-10 10:16] Overbryd commented on #32
I would be delighted to give the talk.

[2018-08-10 10:54] duksis commented on #32
@Overbryd do you have a title for it?

[2018-08-10 10:55] Overbryd commented on #32
"Flow Based Programming in Elixir"

[2018-08-15 10:00] duksis commented on #32
@Overbryd as you will be at lambdup.io on the 13th of September - are you up for ding your talk at the October meetup?

[2018-08-16 08:03] Overbryd commented on #32
Right, along with a review of the lambdup conference :)

October should work for me.

Hugo Duksis <notifications@github.com> schrieb am Mi. 15. Aug. 2018 um
13:00:

[2018-08-23 07:56] lorenzosinisi commented on #32
Hello, @duksis I could prepare a 10 min talk about using Pub/Sub from Postgres to keep Elasticsearch in sync and finally solve the problem. Also I have tested it now for some time and I have encountered some limitations that I would like to share :)

[2018-08-27 07:29] duksis commented on #32
@lorenzosinisi sure - sounds great! if it will be up to 10 min you can do it as a lightning talk.

[2018-09-14 05:46] #32 closed

[2018-09-18 12:00] slashmili commented on #33
@duksis I would like to talk about **Design Patterns in Functional Programming** it will be about 15-20 minutes talks

[2018-09-19 11:17] slashmili commented on #33
@duksis It's a bit hard to time the talk, I changed the estimated talk to 10-15 min 😬
I'll update you when I put the idea on paper

[2018-10-03 16:30] slashmili commented on #33
I have to go for a business trip next week 😢

[2018-10-04 10:46] Overbryd commented on #33
Just to confirm my talk is up.

Does the Meetup have a location, last time I checked Meetup.com <http://meetup.com/> there was none announced.

[2018-10-08 08:52] slashmili commented on #35
We would like to host the event at @highmobility. The address is `Skalitzer Straße 68`

cc @kevinvaldek

[2018-10-12 07:52] #33 closed

[2018-10-12 08:54] Overbryd commented on #33
Hehe, lets open a few issues so that the issue #<number> matches the #53
for the next meetup.

Hugo Duksis <notifications@github.com> schrieb am Fr. 12. Okt. 2018 um
09:52:

[2018-10-19 10:59] lbighetti opened #36 "#55 January Talk and socialize"
* [x] Location (**[Entelios AG](https://entelios.de/)** - Kurfürstendamm 68, 3rd Floor)
* [x] Talks
   * Digging through the trash by @devonestes
   * TwitterListManager running on Erlang by @metawilm

[2018-11-08 10:11] nburkley commented on #34
We'll also have two lightning talks from @mkorszun:
* elixir + dependabot
* gen_rmq in action
And one from myself on:
* Elixir Deployment @ Meltwater

[2018-11-14 08:57] #34 closed

[2018-12-01 20:02] slashmili commented on #35
I can talk about Webassembly. It isn't related to Elixir though ;)

[2019-01-02 11:08] duksis commented on #36
I'm playing around with https://www.erlang-solutions.com/products/wombatoam.html so I might be able to share my experience with that
not sure though if it will be enough for a full sized talk - I'll confirm the length after this weekend

[2019-01-02 12:57] devonestes commented on #36
I can give my talk "Digging through the trash" in January. I'm like 95% sure I'll be able to go unless something wacky happens with work.

[2019-01-02 13:49] lbighetti commented on #36
Super!
Sounds like we have an agenda, it should be possible to do all 3 talks.
👍

[2019-01-02 15:43] metawilm commented on #36
How much time would I have to present?

[2019-01-04 14:11] leosilvadev commented on #36
Hey guys! I am still a newbie with Elixir but I would like to give a Lightning talk to show how I am using Codefresh as CI (and will use as CD also) for one Elixir project I am working in the free time.
Do you think it has time for that? Or would be better for the next one?

[2019-01-07 10:20] duksis commented on #36
@metawilm 30 min would be optimal max 45 min
@leosilvadev in case there will be time after the talks we will be glad to give you 5 - 10 min to present your project - great to hear that you are working with Elixir in your free time!

[2019-01-07 11:19] #35 closed

[2019-01-07 11:32] duksis opened #37 "#56 February Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzdbsb/

* [x] Location @Adjust
* [x] Talks
   * "Managing translations in Elixir project with [Yata](http://www.yatapp.net)" by @luki3k5
   * "Sending Millions of HTTP Requests Using GenStage" by @gaynetdinov
   * free spot for lightning talks
* [x] Lightning talks
   * @ndreynolds

[2019-01-09 07:52] duksis commented on #36
Hello Ladies & Gentlemen,

With regret I have to postpone my talk to February do access issues to the proprietary software that I was going to talk about. 😞

[2019-01-10 10:33] slashmili commented on #36
@leosilvadev do you think if you can give your Lightning talk today?

[2019-01-10 10:49] leosilvadev commented on #36
Hey guys, unfortunately, I won't be able to even be present at the meetup today
I can do next month, and also will take some Sticker from the tool I will talk about (Codefresh)

[2019-01-17 23:01] marcelotto commented on #37
I'd like to give a talk about my projects implementing the W3C standards of the Semantic Web and Linked Data in Elixir, aiming to bring the Linked Data ecosystem to our beloved community.

[2019-01-18 13:56] sumerman commented on #37
I remember promising you to host the meetup at Adjust. I'm not on vacation or whatnot this time, so it should work.

[2019-01-19 08:02] #36 closed

[2019-01-25 12:58] duksis opened #38 "#57 March Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzfbsb/

* [x] Location @sumup
* [x] Talks
   * "Introduction to Linked Data for Alchemists" by @marcelotto
   * "Kubernetes as automation platform of multi-tenant deployments" by @mindreframer
   * free spot for lightning talks

[2019-01-25 13:01] duksis commented on #38
@surik will SumUp be able to host us on the 14th of March?

[2019-01-28 18:53] surik commented on #38
Hi @duksis, SumUp will be happy to host you in March.

[2019-02-04 16:26] leosilvadev commented on #37
I will be able to give a lightning talk that time, if there is still a spot, about using Codefresh as CI/CD for my elixir APIs

[2019-02-10 14:39] marcelotto commented on #37
I'm really sorry but I have to cancel my talk. I was already sick for a week and now after just two days of working it hit me even harder again. I hope you find a replacement in time and it works out next time.

[2019-02-11 11:31] gaynetdinov commented on #37
I can do a talk based on my recent blogpost http://adjust.github.io/2019-01/facebook-genstage/

[2019-02-11 15:14] slashmili commented on #37
@marcelotto I hope you get better soon! Don't worry about it. Maybe next time 😉

@gaynetdinov Interesting topic 👍 How long do you think you need for that?

[2019-02-11 15:16] gaynetdinov commented on #37
@slashmili 30 min should be okayish I think.

[2019-02-13 11:56] ndreynolds commented on #37
I'd also love to do a lightning talk this time if there's still room.  Would give a short demo of a project I've been working on.

[2019-02-13 13:49] slashmili commented on #37
@ndreynolds That would be great 👍

[2019-02-14 17:44] leosilvadev commented on #37
Guys I am really sorry but I won't be able to speak today again. My son and daughter are sick.
I hope that next time no shit happens again and I can do a lightning talk.
Sorry for the really late message

[2019-02-15 09:44] slashmili commented on #37
@leosilvadev no problem. definitely next time

[2019-02-15 09:44] #37 closed

[2019-02-15 09:46] slashmili opened #39 "#58 April Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzgbpb/

* [x] @Adjust
* [x] Talks
   * "Knowledge-based systems with Elixir" by @liveforeverx
   * "Chunked to death or 1 Gb of garbage per minute." by @sumerman
   * free spot for lightning talks

[2019-02-15 09:49] slashmili opened #40 "#59 May Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzhbmb/

* [x] Location (Qixxit)
* [ ] Talks
   * ..
   * ..
   * free spot for lightning talks

[2019-03-01 15:54] duksis commented on #38
I'm working on a small, but full featured project (GraphQL backend with auth and payment) that should be live by the next meetup and I can share my experience with that - if there is interest.

[2019-03-01 15:57] marcelotto commented on #38
I can give it another shot and give my "Introduction to Linked Data for Alchemists" talk. Hopefully, everything works out this time.

[2019-03-02 08:56] mindreframer commented on #38
I could give a talk about Kubernetes as automation platform in the context of multi-tenant deployments and how to extend it with Elixir. I'll try to scope it by 20 minutes, although there is a ton of very interesting things that could be covered in that context.

[2019-03-05 08:33] liveforeverx commented on #38
I will be on a meetup and can give a talk `Knowledge-based systems with Elixir`.

[2019-03-05 13:21] slashmili commented on #38
@liveforeverx That would be really nice. How much time do you think you need for the talk?

[2019-03-11 16:20] leosilvadev commented on #38
That week I will be able to join and give a lightning talk about how I am using Codefresh as CI/CD to my elixir projects if we have time

[2019-03-11 21:30] duksis commented on #38
@leosilvadev depending on the length of @liveforeverx talk - there might be time for lightning talks or not

[2019-03-12 09:31] leosilvadev commented on #38
@duksis no problem, I will join with my notebook, if we have time I talk about it, if not we try next time

[2019-03-12 11:29] liveforeverx commented on #38
@duksis It will take ca. 30 minutes. But I propose to move my talk to April meetup, I will be there too and there is no speakers there at the moment in April.

[2019-03-13 10:58] marcelotto commented on #38
I'm struggling a little with the time constraint of 30min for the talk. Since Linked Data is a huge topic, where even with strong simplifications and shortenings, I'll have to cover a lot of ground to make the Elixir implementation understandable. Would it be ok if I go beyond the 30 minutes or do I have to drop even more slides?

[2019-03-13 16:35] duksis commented on #38
@marcelotto it's ok to go a bit over

[2019-03-13 16:37] duksis commented on #39
adding @liveforeverx talk as suggested in https://github.com/elixir-berlin/planning/issues/38#issuecomment-471962771

[2019-03-20 08:58] mkx commented on #40
We at Qixxit are interested in hosting the May talk. We just moved to a new office with a nice view on the sunset :)

[2019-03-25 14:56] sumerman commented on #39
Adjust can provide the location.

[2019-03-26 08:44] #38 closed

[2019-03-26 18:54] slashmili commented on #39
@sumerman that would be great! Thanks.

[2019-04-06 15:09] kpanic commented on #40
Also we (Taxfix) are interested in hosting one of the next meetup

[2019-04-06 15:26] slashmili opened #41 "#60 June Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzjbrb/

* [x] Location: @taxfix
* [x] Talks
   * "" by @liveforeverx
   * "Ahoi! - hosting and administering complex software on Kubernetes" by @Overbryd
   * free spot for lightning talks

[2019-04-06 15:33] kpanic commented on #41
That was quick. We (Taxfix) we would like to host this one :)

[2019-04-08 19:26] duksis commented on #40
@mkx What is the address of your new office, we will need someone from Qixxit to help us - would that person be you or Ina?

[2019-04-09 07:13] mkx commented on #40
@duksis We are at Hallesches Ufer 60, 6th floor (former Postbank Tower). Let's continue with email, can you reach out to Ina?

[2019-04-09 08:30] sumerman commented on #39
I noticed there is no second talk. I have something for 15-20 minutes. "Chunked to death or 1 Gb of garbage per minute."

[2019-04-18 15:02] #39 closed

[2019-05-16 09:10] danielvamosi commented on #41
@duksis As we discussed last Elixir meetup, [flyiin](flyiin.com) would be happy to host the one in July! cc @slashmili

[2019-05-16 10:34] #40 closed

[2019-05-16 10:36] duksis opened #42 "#61 July Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzkbpb/

* [x] Location: @flyiin
* [x] Talks
   * "Visualising trace dumps" by @danielvamosi
   * ..
   * free spot for lightning talks

[2019-05-16 10:38] duksis opened #43 "#62 August Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzlblb/

* [x] Location: @bitcrowd
* [x] Talks
   * "Contributing to the language: diffing on pattern matches" by @ggcampinho
   * ..
   * free spot for lightning talks

[2019-05-16 10:39] duksis commented on #42
@danielvamosi added @taxfix as host for the july meetup - thanks

[2019-05-16 10:41] duksis opened #44 "#63 September Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzmbqb/

* [x] Location: Solarisbank
* [x] Talks
   * "Using Commanded + Flow to create a fault-tolerant system" by Alexander Butt-Piercey
   * ..
   * free spot for lightning talks

[2019-05-16 14:00] danielvamosi commented on #42
@duksis thank you very much! Small correction: we are @flyiin, @taxfix will be hosting the June meetup as far as I understood.

[2019-05-20 12:17] duksis commented on #42
@danielvamosi sorry for the mistake - fixed

[2019-05-22 09:31] liveforeverx commented on #41
I would prepare one talk. Not sure yet, which one.. A story about parsing languages in Elixir or about my graph database adapter(where I'm working on minimal ecto-like DSL) open source project.

[2019-05-29 07:36] Overbryd commented on #41
I would like to give a talk named “Ahoi!” where I will share my insights on hosting and administering complex software on Kubernetes.

Elixir plays a key role in automating this process, and I will show where Kubernetes is actually complementing the BeamVM.

Kind regards,

Lukas Rieder

[2019-05-29 16:13] duksis commented on #41
@liveforeverx have you decided what you want to talk about?

[2019-06-12 14:30] liveforeverx commented on #41
@duksis Yes, sorry for late answer: `Language integrated graph persistence`.

[2019-06-23 19:45] danielvamosi commented on #42
@duksis
Hey, I would like to give a talk titled "Visualising trace dumbs". I've developed a PoC tool to extract and visualise timing and trace information from code execution. Would present the tool and some interesting underpinnings about BEAM's time representation and tracing internals.

I've also seen that on meetup.com the location is missing, any action required from us (flyiin)?

[2019-07-04 13:38] #41 closed

[2019-07-04 13:56] duksis commented on #42
@danielvamosi updated the location and announced the event - thanks

[2019-07-14 09:26] #42 closed

[2019-07-14 09:33] duksis commented on #43
@ggcampinho We have talk spots for August so just comment the name of your talk here and I'll add it to the agenda.

[2019-07-23 06:30] duksis opened #45 "#64 October Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyznbnb/

* [x] Location: @taxfix
* [ ] Talks
   * ..
   * ..
   * free spot for lightning talks

[2019-07-23 06:31] duksis opened #46 "#65 November Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzpbsb/

* [x] Location: @highmobility
* [x] Talks
   * "Modeling a document database" by @Overbryd
   * "Patterns of Distributed Programming in BEAM" by @slashmili
   * free spot for lightning talks

[2019-07-23 06:32] duksis opened #47 "#66 December Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqyzqbqb/

* [x] Location: HIGHSNOBIETY.COM (@titel-media)
* [ ] Talks
   * "Elixir in production at highsnobiety.com" by @nynkelys & @duksis
   * ..
   * free spot for lightning talks

[2019-07-26 11:49] ggcampinho commented on #43
@duksis sorry the delay! It will be `Contributing to the language: diffing on pattern matches`

[2019-08-09 11:14] #43 closed

[2019-09-09 16:14] adamniedzielski commented on #44
@duksis I'd like to give a lightning talk and pitch the idea of creating a group for engineering managers in Berlin - https://bit.ly/em-berlin. Please let me know if that fits your format 😄

[2019-09-09 16:55] duksis commented on #44
@adamniedzielski your more than welcome to do a lightning talk and pitch your idea.
without having much of background on your idea - do you know https://www.meetup.com/CTO-Roundtable-Berlin/ ?

[2019-09-10 11:46] adamniedzielski commented on #44
@duksis thank you!

Yes, I've seen https://www.meetup.com/CTO-Roundtable-Berlin/ but have never been there before. I think that I have a slightly different format on my mind - smaller group, direct discussions between members, no invited "experts" or presentations 😄 But right now it's all at the stage of idea and searching for interested people.

[2019-09-18 06:55] #44 closed

[2019-10-18 13:26] slashmili commented on #46
We can host the event at @highmobility if it's needed.

[2019-10-28 07:55] #45 closed

[2019-10-29 09:18] slashmili opened #48 "#67 January Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/bcckcqybccbmb/

* [x] Location: Room 77

[2019-11-05 14:46] Overbryd commented on #46
Hi,

I would like to propose a talk about modeling a document database.

Modeling a document database from scratch, how, why and where it might be useful for your work. The talk will demonstrate a less common approach to database modeling. It has great flexibility and enables fast development cycles in content-focussed applications.

When building content management systems and content pipelines,

[2019-11-05 15:39] slashmili commented on #46
@Overbryd sounds interesting, can you us a title for the talk?

[2019-11-13 11:11] slashmili commented on #46
@duksis do you think we have time for another talk?

I'll like to talk about "Patterns of Distributed Programming in BEAM"

[2019-11-13 14:19] duksis commented on #46
sure will do!

[2019-11-15 06:14] #46 closed

[2019-11-27 11:48] duksis commented on #47
I can give a talk on how/why Highsnobiety is using Elixir in production

[2019-11-27 11:57] duksis commented on #47
with a colleague co speaker @nynkelys

[2019-11-27 13:33] slashmili commented on #47
@duksis definitely!

[2020-01-03 08:29] #47 closed

[2020-01-03 08:37] duksis opened #49 "#68 February Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybcdbrb/

* [x] Location: @bitcrowd
* [x] Talks
   * "Abstract cache store for Elixir" by @duksis
   * "> remote_observe" by @dominicletz
   * free spot for lightning talks

[2020-01-03 08:38] duksis opened #50 "#69 March Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybcfbqb/

* [x] Location: @solarisBank
* [x] Talks
   *  "Design for scale and low maintenance" by Gheorghina
   *  "Green Organic Food with Elixir" by Ralph
* [ ] Lightning Talks:
   *  Type Systems on the BEAM (using Gleam) by @gordonguthrie
   * free spot for lightning talks

[2020-01-03 08:39] duksis opened #51 "#70 April Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybcgbmb/

* [x] Location: Online
* [x] Talks
   * "Design for scale and low maintenance" by @gheorghina
   * "Visual Concurrency Cookbook" @danielvamosi
   * free spot for lightning talks

[2020-01-10 10:03] #48 closed

[2020-01-13 09:51] flowerett commented on #50
Hello @duksis,
kloeckner.i would like to host the next meetup, hope the march slot is still free.
We also would like to reserve one slot for the talk.

[2020-01-14 19:42] danielvamosi commented on #51
Hey @duksis , @flyiin would be happy to host the April meetup. I would like to also reserve a spot for a talk.

[2020-01-31 20:29] slashmili commented on #50
That would be great @flowerett! See you in March.

[2020-01-31 20:31] slashmili commented on #51
Prefect @danielvamosi! Thanks for hosting us

[2020-02-03 09:52] slashmili opened #52 "#71 May Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybchbsb/

* [x] Location: ONLINE
* [ ] Talks
   * ..
   * ..
   * free spot for lightning talks

[2020-02-03 09:53] slashmili commented on #50
Hi @flowerett, so I made a mistake and offered you Match slot while we already promised that to @solarisBank it was updated in [meetup](https://www.meetup.com/Elixir-Berlin/events/gdsglrybcfbqb/) but not here.

Would you be still interested to host us on May? I've create #52 for the May gathering.

Again sorry for the inconvenience

[2020-02-03 16:38] flowerett commented on #50
Hello Milad,
it's a pity, but if we can't host the meetup in March then, of course, we would like to book the spot in May.

[2020-02-03 16:40] flowerett commented on #52
Hello @slashmili, @duksis
Seems the May is the nearest possible slot to host a meetup now, so I would like to book it for @kloeckner-i

[2020-02-13 16:41] dominicletz commented on #49
Hey, following the talk from Devon C. Estes last time on observability I created a small tool to automate the process of starting a local observer and doing all the needed port forwarding wire to any remote node.  https://github.com/dominicletz/remote_observe
Put some slides together I can show https://docs.google.com/presentation/d/1cts4pS2CxEa-CZDd7CwY6hfbHJj8hmiaT3fUNw4wk1w/edit#slide=id.g6ef5d

[2020-02-14 10:15] #49 closed

[2020-02-20 09:28] alexanderspace100 commented on #50
Hi there! Can I reserve the first talk slot for my colleague Gheorghina? Later, I'll be back with the title for it. Thanks

[2020-02-20 15:58] gordonguthrie commented on #50
If you still have a slot for March I could talk about an approach for Type Systems on the BEAM (using Gleam)

https://medium.com/@gordonguthrie/types-on-the-beam-2af8b1cb9be9

(I am an 18 year Erlang veteran who also does Elixir and stuff)

[2020-02-24 08:57] gordonguthrie commented on #50
Um, is that thumbs up a yes, come and talk?

[2020-02-24 09:46] slashmili commented on #50
@gordonguthrie, Yes! We would to hear about Gleam!

[2020-02-26 09:27] gordonguthrie commented on #50
Cool, see you then ;-)

[2020-03-12 14:23] gordonguthrie commented on #50
Umm, come over all lightheaded with a sore throat, so not going anywhere tonight :-(

Sorry, maybe next month?

[2020-03-12 14:40] gordonguthrie commented on #50
So I was also supposed to be interviewing with Solaris Bank tomorrow and they tell me the meetup is cancelled anyhoo...

[2020-03-13 15:43] slashmili commented on #51
@danielvamosi do you still think you are able to host us? We totally understand if it's not possible.

We are also evaluating if we should continue the event and do not put our community's health at risk.

[2020-03-16 16:50] danielvamosi commented on #51
@slashmili @duksis unfortunately we are also introduced precautionary measures and wont be able to host on-site events. We were wondering, would you be interested in having April as a remote meetup? We would be very happy to help to organise such an event, both in terms of content and technical setup.

[2020-03-16 17:46] duksis commented on #51
@danielvamosi thanks for the update - we are looking into options to make the meetup remote till the situation stabilises and your help is appreciated.

[2020-03-23 15:30] alexanderspace100 commented on #51
**Remote session requirements**

* [x] Communication channel
* [x] Talks. (we still have Daniel). I can ask Gheorghina if she wants to try it in this formula
* [x] Social media advertisement (besides our Twitter). Suggestion: [home conferences](https://github.com/homeferences/list) (https://remotemeetup.com/meetups)
*[x] How can we cover the lack of in-person interaction?
*[x] Can we engage people

[2020-03-31 15:24] alexanderspace100 commented on #51
@gordonguthrie are you in for _Type Systems on the BEAM (using Gleam)_?

[2020-04-02 16:59] danielvamosi commented on #51
@alexanderspace100 sorry for delayed response, busy days in flight industry 😞

- For the communication channel, we could offer our help with @flyiin tech team to research best solution, maybe streaming, maybe web conferencing solution. Did you had already something in mind?
- Regarding my talk, I'm open to any solution. I only realised now that some talks are shifting from the previous meet-up whi

[2020-04-05 21:13] slashmili commented on #51
Thanks @danielvamos!

We are good for two talks as long of you and @gheorghina are still able to join.

So we've decided to try discord as the communication channel and youtube as broadcasting channel. it's the setup that @overbryd has suggested.

We will give you instruction to check the setup before Thursday!

[2020-04-05 21:21] slashmili commented on #51
@danielvamosi  & @gheorghina Could you please join using this discord https://discord.gg/WaKTXHD link

[2020-04-06 06:27] gheorghina commented on #51
hello everyone, I managed to log into the discord app

[2020-04-16 05:20] slashmili commented on #51
Thanks everyone!

It was a rad remote session 🎉

[2020-04-16 05:20] #51 closed

[2020-04-16 05:29] slashmili commented on #52
@flowerett due to the pandemic we are going to host the event live through youtube. Stay safe and looking to see you at @kloeckner-i after we are back to the normal life!

[2020-05-11 15:44] #52 closed

[2020-05-11 15:45] alexanderspace100 commented on #52
This edition was canceled due to lack of talks :(

[2020-05-11 15:53] alexanderspace100 opened #54 "#72 June Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybcjbpb/

* [x] Location: ONLINE
* [ ] Talks
   * @ggpasqualino `I used mix built-in releases and you won't believe what happened next`
   * ..
   * free spot for lightning talks

[2020-05-11 15:56] alexanderspace100 commented on #50
This edition was canceled

[2020-05-11 15:56] #50 closed

[2020-06-24 13:29] slashmili opened #56 "#73 July Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybckbmb/

* [x] Location: ONLINE
* [x] Talks
   * Gleam: Lean BEAM typing machine by @lpil
   * ..
   * free spot for lightning talks

[2020-06-24 15:04] #54 closed

[2020-08-03 11:20] duksis opened #58 "#74 August Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybclbrb/

* [x] Location: ONLINE
* [x] Talks
   * "Don't do this at home: building your own distributed datastore in Elixir" by @DianaOlympos
   * free spot for lightning talks

[2020-08-03 11:20] #56 closed

[2020-08-03 11:22] duksis opened #59 "#75 September Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybcmbnb/

* [x] Location: ONLINE
* [x] Talks
   * "Distributed tracing in Elixir" by @yatender-oktalk
   * "Be a better parent to your children" by @herminiotorres
   * free spot for lightning talks

[2020-08-19 14:12] herminiotorres commented on #59
I would like to submit a talk about related to use Registry via to named processes when working with GenServer and Supervisors...

[2020-09-01 15:20] herminiotorres commented on #59
@duksis so I have a name for my talk and I could send here the name and what the talks about?

so you could tell me the hour and timezone too? for I set a reminder on my agenda.

Thanks!

[2020-09-03 07:16] #58 closed

[2020-09-03 07:22] duksis commented on #59
@herminiotorres yes please - it also would be great if you can share your email with us in DM to https://twitter.com/ElixirBerlin

[2020-09-03 07:35] duksis opened #60 "#76 October Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybcnblb/

* [x] Location: ONLINE
* [ ] Talks
   * ..
   * ..
   * free spot for lightning talks

[2020-09-03 07:37] duksis opened #61 "#77 November Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybcpbqb/

* [x] Location: Remote
* [ ] Talks
   * ..
   * ..
   * free spot for lightning talks

[2020-09-03 07:38] duksis opened #62 "#78 December Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrybcqbnb/

* [ ] Location:
* [ ] Talks
   * ..
   * ..
   * free spot for lightning talks

[2020-09-10 18:20] #59 closed

[2020-10-07 12:17] #60 closed

[2020-12-07 10:02] #61 closed

[2020-12-07 10:05] duksis opened #63 "#79 January Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrycccbsb/

* [x] Location: Remote
* [ ] Talks
   * ..
   * ..
   * free spot for lightning talks

[2020-12-07 10:06] duksis commented on #62
canceling this due to missing agenda.

[2020-12-07 10:06] #62 closed

[2020-12-07 10:09] duksis commented on #63
Any talk ideas, requests or want to share your idea in a lightning talk - please comment here!

[2021-02-02 10:36] alexanderspace100 opened #64 "#80 February Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglryccdbpb/

* [x] Location: Remote
* [ ] Talks
   *  "web archiving with dust" by Sultan @imanhodjaev
   * "Writing a desktop application in Elixir" by @dominicletz
   * free spot for lightning talks

[2021-02-02 10:36] #63 closed

[2021-02-02 17:39] alexanderspace100 commented on #64
Hi @dominicletz. Nice to see you back with another talk. Sure, you are in. Please don't change your mind, as I will update the meetup page and that one is written in stone :)

[2021-02-08 20:28] slashmili commented on #64
Hi @dominicletz could you please join our discord server https://discord.gg/WaKTXHD and ping me under user `milad`

[2021-02-22 15:58] slashmili opened #66 "81 March Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglryccfbpb/

* Time: 11th March 7pm CET
* [x] Location: Remote
* [ ] Talks
   * TBA
   * free spot for lightning talks

[2021-02-24 16:10] #64 closed

[2021-05-03 19:17] #66 closed

[2021-05-03 19:18] slashmili opened #67 "#81 June Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglryccjbnb/

* Time: 10th June 7pm CEST
* [x] Location: Remote
* [ ] Talks
   * TBA
   * free spot for lightning talks

[2021-05-03 19:21] slashmili opened #68 "#82 July Talk and socialize"
https://www.meetup.com/Elixir-Berlin/events/gdsglrycckblb/

* Time: 8th July 7pm CEST
* [x] Location: Remote
* [x] Talks
   * "Utilising OpenAPI to enforce standards between teams" by @floriank
   * free spot for lightning talks

[2021-06-08 17:27] duksis commented on #67
I can do a Lightning talk on "Cloudflare Auth for internal apps"

[2021-06-13 13:22] floriank commented on #68
I can offer a short talk about the benefits of utilizing OpenAPI to enforce standards between teams, creating mock APIs with [Mimicry](https://github.com/floriank/mimicry). Maybe it works by then as well.

Additionally, I can share some insights in working with [`DynamicSupervisor`](https://hexdocs.pm/elixir/1.12/DynamicSupervisor.html).

[2021-06-13 13:23] floriank commented on #68
I have also asked internally, if we can use Contentfuls platform for hosting the meetup - will get back to y'all.

[2021-06-17 06:18] floriank commented on #68
@duksis @slashmili  Enxhi from Contentful should have reached out to you for providing a platform to have the meeting :)

[2021-06-29 14:17] duksis commented on #68
@floriank thank you for offering to use the Contentful platform for the meeting.
I think we would prefer going with our usual setup Youtube talk streaming + Discord for socialising
in case you insist in going with the Confluent one we can discuss that option.

I'd like to add you to the agenda and announce the event this week.
as the talk name I can put `Utilising OpenAPI to enforce standards betw

[2021-06-29 14:33] floriank commented on #68
Yep, you can add that as a title!

[2021-07-02 17:02] floriank commented on #68
Btw. i think I misundersood this completely - I thought you were actively searching for a possible platform, hence me pushing the offer from Contentful.

[2021-07-05 15:46] #67 closed

[2021-08-11 08:05] #68 closed

[2021-08-31 11:15] duksis opened #69 "#83 October Talk and socialize"
### Event URL

https://www.meetup.com/Elixir-Berlin/events/gdsglryccnbsb/

### Time

14th October 7pm CEST

### Location

- [ ] Remote/Hosting comapny

### Talks

- [x] "Domo library for automatic models validation in the microservice setting" by @IvanRublev
- [ ] _talk name to be added_

[2021-09-09 17:05] IvanRublev commented on #69
@duksis can the topic be announced as "Domo library for automatic models validation in the microservice setting"?

[2021-10-27 11:52] slashmili opened #70 "#83 Nov Dec Talk and socialize"
### Event URL

https://www.meetup.com/Elixir-Berlin/events/gdsglryccpbpb/

### Time

11th November 7pm CET

### Location

- [x] Remote

### Talks

- [x] "Domo library for automatic models validation in the microservice setting" by @IvanRublev
- [x]  "live view apps into Android + iOS" by @dominicletz

### TODO:
- [x] Update the Meetup event
- [x] Announce the event in twitter

[2021-10-30 08:53] IvanRublev commented on #70
That’s good. I’m in!

[2021-11-01 15:13] #69 closed

[2021-11-04 13:11] slashmili commented on #70
Could you both please join our Discord Server to discuss the details?

https://discord.gg/WaKTXHD

[2021-11-18 16:26] duksis opened #71 "#June 22 Talk and socialize"
### Event URL

https://www.meetup.com/Elixir-Berlin/events/285981687/

### Time

9th June 7pm CEST

### Location

- [x] @bitcrowd (Bitcrowd GmbH - Köpenicker Straße 126 10179 Berlin Germany)

### Talks

- [x] "[ALF](https://github.com/antonmi/ALF) the Flow Based application layer framework" by @antonmi
- [x] "Writing open source elixir tools to ease up your daily life" by @agatheblues

[2021-11-29 09:51] #70 closed

[2022-06-10 09:18] dominicletz opened #73 "#86 July Talk and socialize"
### Event URL

https://www.meetup.com/elixir-berlin/events/286485349/

### Time

14th July 7pm CEST

### Location

- [x] @highmobility
High-Mobility GmbH
Skalitzer Str. 68, 10997
https://goo.gl/maps/Kbr7h5pkxoe4ndA86

### Talks

- [x] "Using Rust & Elixir to Conquer Regex" by @maciejgryka
- [ ] Registration Open - This might be you!

[2022-06-10 09:24] slashmili commented on #73
we at @highmobility would like to host the next month event

[2022-06-10 09:35] duksis commented on #73
@slashmili I accidentally removed the Location information - can you please re-add it?

[2022-06-10 09:45] #71 closed

[2022-07-06 21:16] slashmili commented on #73
I'll also like to talk about "Telemetry and OpenTelemetry in Elixir"

[2022-08-18 14:13] dominicletz opened #74 "#Sep 8th 2022 - Talk and socialize"
### Event URL

https://www.meetup.com/de-DE/elixir-berlin/events/286485349/

### Time

8th September 19:00 CEST

### Location

- [x] @bitcrowd (Bitcrowd GmbH - Köpenicker Straße 126 10179 Berlin Germany)

### Talks

- [x] "Using Rust & Elixir to Conquer Regex" by @maciejgryka
- [x] "Telemetry and OpenTelemetry in Elixir" by @slashmili

[2022-08-18 14:13] #73 closed

[2022-10-20 16:23] dominicletz opened #75 "#Nov 10th 2022 Talk and socialize"
### Event URL

[https://www.meetup.com/de-DE/elixir-berlin/events/289231408/](https://www.meetup.com/de-DE/elixir-berlin/events/289231408/)

### Time

10th September 19:00 CEST

### Location

- [x] kloeckner.i GmbH - Ackerstraße 14-15 · Berlin

### Talks

- [x] Make everything remotely-callable with Octopus by @antonmi
- [x] GraphQL "best" practices by @duksis

[2022-11-04 17:01] agreif commented on #75
@dominicletz Hi Dominic, I will be the first time at your meetup, and wanted to ask how long the lightning talks are? And the speaker brings his own laptop? thanks, Alex.

[2022-11-04 17:26] dominicletz commented on #75
@agreif 15 minutes, and yes

[2022-11-05 11:51] agreif commented on #75
@dominicletz  I could talk about these 2 small topics:
- small text-to-speech module (hexdocs.pm/say)
- RiotJS with Phoenix

it would be approx 15 mins. would it be ok?
thanks, Alex.

[2022-11-10 17:42] Efesto commented on #75
I have a lighting talk about remote journaling as alternative to remote daily.

Should be around 8 mins.

Am I still on time?

[2022-11-23 12:46] #75 closed

[2022-11-24 14:14] dominicletz opened #76 "#Dec 8th 2022 Talk and socialize - XMAS Edition"
### Event URL

https://www.meetup.com/de-DE/elixir-berlin/events/289946901

### Time

8th December 7pm CEST

### Location

- [ ] TBD

### Talks

- [ ] <talk name to be added>
- [ ] <talk name to be added>